In [13]:
import pandas as pd
file_path = '/Users/mo/Library/Mobile Documents/com~apple~CloudDocs/Documents/GitHub/MoNAVbucopy/data/181_nov1.csv'
df = pd.read_csv(file_path);df.head()

,Unnamed: 0,PID,ARENA_TILTAKDELTAKER_ID,ARENA_TILTAKGJENNOMFORING_ID,TILTAKGJENNOMFORINGHIST_ID,KJONN,FODSEL_AAR,FODSEL_MND,DATO_FRA,DATO_TIL,...,REG_DATO,DELTAKERTYPEKODE,PERSON_ORG_ENHET_AFNR,ARENA_ENHET_KODE,ARENA_ENHET_NAVN,PERSON_GEOGRAFI_ID,KOMMUNENAVN,FYLKESNAVN,PM_BEGIN_DATE,PM_END_DATE
0,0,450412,6539190,3669772,5814546,K,2002,2,2021-09-20 00:00:00,2021-11-14 00:00:00,...,2021-09-09 13:09:34,INNSOKT,1243,1243,NAV Bjørnafjorden,8745,4624 Bjørnafjorden,46 Vestland,2021-09-20 00:00:00,2021-11-15
1,1,450653,6404113,3669042,5759677,M,1968,11,2021-02-22 00:00:00,2021-04-18 00:00:00,...,2021-02-15 14:56:04,INNSOKT,1940,1940,NAV Gáivuotna/Kåfjord,8643,5426 Gáivuotna - Kåfjord - Kaivuono,54 Finnmark og Troms,2021-02-20 00:00:00,2021-03-04
2,2,451370,6554754,3672293,5760665,K,1990,5,NaN,NaN,...,2021-09-30 14:01:31,INNSOKT,1833,1833,NAV Rana,8054,1833 Rana,18 Nordland,2021-10-01 00:00:00,2021-10-12
3,3,454275,6564751,3668744,5754286,K,1967,7,2021-10-25 00:00:00,2021-12-17 00:00:00,...,2021-10-14 08:22:25,INNSOKT,124,124,NAV Indre Østfold,8645,3014 Indre Østfold,30 Viken,2021-10-28 00:00:00,2021-12-03
4,4,457924,6425364,3669042,5759677,M,1990,1,2021-03-15 00:00:00,2021-05-14 00:00:00,...,2021-03-16 08:28:21,INNSOKT,2019,2019,NAV Nordkapp,8765,5435 Nordkapp,54 Finnmark og Troms,2021-03-17 00:00:00,2021-05-15

In [14]:
df.apply(pd.Series.nunique)

Unnamed: 0                      49619
PID                             12338
ARENA_TILTAKDELTAKER_ID         12844
ARENA_TILTAKGJENNOMFORING_ID       18
TILTAKGJENNOMFORINGHIST_ID         56
KJONN                               2
FODSEL_AAR                         53
FODSEL_MND                         12
DATO_FRA                          141
DATO_TIL                          548
TILTAK_ID                           1
TILTAKSKODE                         1
TILTAKSNAVN                         1
TILTAKSGRUPPEKODE                   1
TILTAKSGRUPPENAVN                   1
DELTAKERSTATUSKODE                 11
REG_DATO                        12754
DELTAKERTYPEKODE                    2
PERSON_ORG_ENHET_AFNR             260
ARENA_ENHET_KODE                  260
ARENA_ENHET_NAVN                  260
PERSON_GEOGRAFI_ID                308
KOMMUNENAVN                       308
FYLKESNAVN                         13
PM_BEGIN_DATE                     620
PM_END_DATE                       614
dtype: int64

In [15]:
df.columns

Index(['Unnamed: 0', 'PID', 'ARENA_TILTAKDELTAKER_ID',
       'ARENA_TILTAKGJENNOMFORING_ID', 'TILTAKGJENNOMFORINGHIST_ID', 'KJONN',
       'FODSEL_AAR', 'FODSEL_MND', 'DATO_FRA', 'DATO_TIL', 'TILTAK_ID',
       'TILTAKSKODE', 'TILTAKSNAVN', 'TILTAKSGRUPPEKODE', 'TILTAKSGRUPPENAVN',
       'DELTAKERSTATUSKODE', 'REG_DATO', 'DELTAKERTYPEKODE',
       'PERSON_ORG_ENHET_AFNR', 'ARENA_ENHET_KODE', 'ARENA_ENHET_NAVN',
       'PERSON_GEOGRAFI_ID', 'KOMMUNENAVN', 'FYLKESNAVN', 'PM_BEGIN_DATE',
       'PM_END_DATE'],
      dtype='object')

In [18]:
df = df[['PID', 'ARENA_TILTAKDELTAKER_ID', 'ARENA_TILTAKGJENNOMFORING_ID', 'TILTAKGJENNOMFORINGHIST_ID', 'KJONN', 
        'FODSEL_AAR', 'FODSEL_MND', 'DATO_FRA', 'DATO_TIL', 'DELTAKERSTATUSKODE', 'REG_DATO', 'DELTAKERTYPEKODE',
        'PERSON_ORG_ENHET_AFNR', 'ARENA_ENHET_KODE', 'ARENA_ENHET_NAVN','PERSON_GEOGRAFI_ID', 'KOMMUNENAVN',
        'FYLKESNAVN','PM_BEGIN_DATE','PM_END_DATE']]

In [19]:
df.head()

,PID,ARENA_TILTAKDELTAKER_ID,ARENA_TILTAKGJENNOMFORING_ID,TILTAKGJENNOMFORINGHIST_ID,KJONN,FODSEL_AAR,FODSEL_MND,DATO_FRA,DATO_TIL,DELTAKERSTATUSKODE,REG_DATO,DELTAKERTYPEKODE,PERSON_ORG_ENHET_AFNR,ARENA_ENHET_KODE,ARENA_ENHET_NAVN,PERSON_GEOGRAFI_ID,KOMMUNENAVN,FYLKESNAVN,PM_BEGIN_DATE,PM_END_DATE
0,450412,6539190,3669772,5814546,K,2002,2,2021-09-20 00:00:00,2021-11-14 00:00:00,GJENN,2021-09-09 13:09:34,INNSOKT,1243,1243,NAV Bjørnafjorden,8745,4624 Bjørnafjorden,46 Vestland,2021-09-20 00:00:00,2021-11-15
1,450653,6404113,3669042,5759677,M,1968,11,2021-02-22 00:00:00,2021-04-18 00:00:00,GJENN,2021-02-15 14:56:04,INNSOKT,1940,1940,NAV Gáivuotna/Kåfjord,8643,5426 Gáivuotna - Kåfjord - Kaivuono,54 Finnmark og Troms,2021-02-20 00:00:00,2021-03-04
2,451370,6554754,3672293,5760665,K,1990,5,NaN,NaN,AKTUELL,2021-09-30 14:01:31,INNSOKT,1833,1833,NAV Rana,8054,1833 Rana,18 Nordland,2021-10-01 00:00:00,2021-10-12
3,454275,6564751,3668744,5754286,K,1967,7,2021-10-25 00:00:00,2021-12-17 00:00:00,GJENN,2021-10-14 08:22:25,INNSOKT,124,124,NAV Indre Østfold,8645,3014 Indre Østfold,30 Viken,2021-10-28 00:00:00,2021-12-03
4,457924,6425364,3669042,5759677,M,1990,1,2021-03-15 00:00:00,2021-05-14 00:00:00,GJENN,2021-03-16 08:28:21,INNSOKT,2019,2019,NAV Nordkapp,8765,5435 Nordkapp,54 Finnmark og Troms,2021-03-17 00:00:00,2021-05-15

In [20]:
df.apply(pd.Series.nunique)

PID                             12338
ARENA_TILTAKDELTAKER_ID         12844
ARENA_TILTAKGJENNOMFORING_ID       18
TILTAKGJENNOMFORINGHIST_ID         56
KJONN                               2
FODSEL_AAR                         53
FODSEL_MND                         12
DATO_FRA                          141
DATO_TIL                          548
DELTAKERSTATUSKODE                 11
REG_DATO                        12754
DELTAKERTYPEKODE                    2
PERSON_ORG_ENHET_AFNR             260
ARENA_ENHET_KODE                  260
ARENA_ENHET_NAVN                  260
PERSON_GEOGRAFI_ID                308
KOMMUNENAVN                       308
FYLKESNAVN                         13
PM_BEGIN_DATE                     620
PM_END_DATE                       614
dtype: int64

In [21]:
df.dtypes

PID                              int64
ARENA_TILTAKDELTAKER_ID          int64
ARENA_TILTAKGJENNOMFORING_ID     int64
TILTAKGJENNOMFORINGHIST_ID       int64
KJONN                           object
FODSEL_AAR                       int64
FODSEL_MND                       int64
DATO_FRA                        object
DATO_TIL                        object
DELTAKERSTATUSKODE              object
REG_DATO                        object
DELTAKERTYPEKODE                object
PERSON_ORG_ENHET_AFNR            int64
ARENA_ENHET_KODE                 int64
ARENA_ENHET_NAVN                object
PERSON_GEOGRAFI_ID               int64
KOMMUNENAVN                     object
FYLKESNAVN                      object
PM_BEGIN_DATE                   object
PM_END_DATE                     object
dtype: object

In [26]:
min(df['PM_END_DATE']), max(df['PM_END_DATE'])

('2021-01-20', '2022-10-30')

In [28]:
df['PM_END_DATE'] = pd.to_datetime(df['PM_END_DATE'], errors = 'coerce')
df.dtypes

/var/folders/qz/f1gh3gjn4957xw2fb_fkzhq00000gn/T/ipykernel_8542/1810306681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PM_END_DATE'] = pd.to_datetime(df['PM_END_DATE'], errors = 'coerce')

PID                                      int64
ARENA_TILTAKDELTAKER_ID                  int64
ARENA_TILTAKGJENNOMFORING_ID             int64
TILTAKGJENNOMFORINGHIST_ID               int64
KJONN                                   object
FODSEL_AAR                               int64
FODSEL_MND                               int64
DATO_FRA                                object
DATO_TIL                                object
DELTAKERSTATUSKODE                      object
REG_DATO                                object
DELTAKERTYPEKODE                        object
PERSON_ORG_ENHET_AFNR                    int64
ARENA_ENHET_KODE                         int64
ARENA_ENHET_NAVN                        object
PERSON_GEOGRAFI_ID                       int64
KOMMUNENAVN                             object
FYLKESNAVN                              object
PM_BEGIN_DATE                           object
PM_END_DATE                     datetime64[ns]
dtype: object

In [29]:
df['PM_BEGIN_DATE'] = pd.to_datetime(df['PM_END_DATE'], errors = 'coerce')
df['DATO_FRA'] = pd.to_datetime(df['DATO_FRA'], errors = 'coerce')
df['DATO_TIL'] = pd.to_datetime(df['DATO_TIL'], errors = 'coerce')
df['REG_DATO'] = pd.to_datetime(df['REG_DATO'], errors = 'coerce')
df.dtypes

PID                                      int64
ARENA_TILTAKDELTAKER_ID                  int64
ARENA_TILTAKGJENNOMFORING_ID             int64
TILTAKGJENNOMFORINGHIST_ID               int64
KJONN                                   object
FODSEL_AAR                               int64
FODSEL_MND                               int64
DATO_FRA                        datetime64[ns]
DATO_TIL                        datetime64[ns]
DELTAKERSTATUSKODE                      object
REG_DATO                        datetime64[ns]
DELTAKERTYPEKODE                        object
PERSON_ORG_ENHET_AFNR                    int64
ARENA_ENHET_KODE                         int64
ARENA_ENHET_NAVN                        object
PERSON_GEOGRAFI_ID                       int64
KOMMUNENAVN                             object
FYLKESNAVN                              object
PM_BEGIN_DATE                   datetime64[ns]
PM_END_DATE                     datetime64[ns]
dtype: object

In [30]:
from faker import Faker
fake = Faker()


random_date = fake.date_between_dates(min(df['PM_END_DATE']), max(df['PM_END_DATE']))
random_date

datetime.date(2021, 5, 4)

In [46]:
df.dtypes

PID                                      int64
ARENA_TILTAKDELTAKER_ID                  int64
ARENA_TILTAKGJENNOMFORING_ID             int64
TILTAKGJENNOMFORINGHIST_ID               int64
KJONN                                   object
FODSEL_AAR                               int64
FODSEL_MND                               int64
DATO_FRA                        datetime64[ns]
DATO_TIL                        datetime64[ns]
DELTAKERSTATUSKODE                      object
REG_DATO                        datetime64[ns]
DELTAKERTYPEKODE                        object
PERSON_ORG_ENHET_AFNR                    int64
ARENA_ENHET_KODE                         int64
ARENA_ENHET_NAVN                        object
PERSON_GEOGRAFI_ID                       int64
KOMMUNENAVN                             object
FYLKESNAVN                              object
PM_BEGIN_DATE                   datetime64[ns]
PM_END_DATE                     datetime64[ns]
dtype: object

In [47]:
df['PM_END_DATE'] = pd.to_datetime(df['PM_END_DATE'], errors = 'coerce')
df.dtypes

PID                                      int64
ARENA_TILTAKDELTAKER_ID                  int64
ARENA_TILTAKGJENNOMFORING_ID             int64
TILTAKGJENNOMFORINGHIST_ID               int64
KJONN                                   object
FODSEL_AAR                               int64
FODSEL_MND                               int64
DATO_FRA                        datetime64[ns]
DATO_TIL                        datetime64[ns]
DELTAKERSTATUSKODE                      object
REG_DATO                        datetime64[ns]
DELTAKERTYPEKODE                        object
PERSON_ORG_ENHET_AFNR                    int64
ARENA_ENHET_KODE                         int64
ARENA_ENHET_NAVN                        object
PERSON_GEOGRAFI_ID                       int64
KOMMUNENAVN                             object
FYLKESNAVN                              object
PM_BEGIN_DATE                   datetime64[ns]
PM_END_DATE                     datetime64[ns]
dtype: object

In [ ]:
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].astype(pd.StringDtype())
df.dtypes

In [31]:
# Count how many rows in df with NaT
df['PM_END_DATE'].isnull().sum()

0

In [39]:
df['PM_BEGIN_DATE'].isnull().sum()

0

In [ ]:
# replace every NaT rows in df['PM_END_DATE'] with random_date converted to pandas.core.series.Series 
df['PM_END_DATE'] = df['PM_END_DATE'].fillna(random_date)
df['PM_END_DATE']

df['PM_END_DATE'].isnull().sum()

In [ ]:
d.open_browser()
dtale.instances()

In [48]:
ilename = ""
    sep = ","
    dft = AV.AutoViz(
          filename,
          sep=",",
          depVar="",
          dfte=df,
          cheader=0,
          verbose=1,
          lowess=True,
          bchart_format="bokeh",
          max_rows_analyzed=150000,
          max_cols_analyzed=30,
          save_plot_dir=None
    )

NameError: name 'AV' is not defined

In [ ]:
def main():
    dtale.show(df, subprocess=False)
    ######## Autoviz ###########
    data_cleaning_suggestions(df)
    #autoviz = AutoViz_Class().AutoViz('train.csv')
    filename = ""
    sep = ","
    dft = AV.AutoViz(
        filename,
        sep=",",
        depVar="",
        dfte=df,
        header=0,
        verbose=1,
        lowess=True,
        chart_format="bokeh",
        max_rows_analyzed=150000,
        max_cols_analyzed=30,
        save_plot_dir=None
    )

In [45]:
import dtale
import dtale.app as dtale_app
from pandas_profiling import ProfileReport
import sweetviz as sv
from autoviz.AutoViz_Class import AutoViz_Class
from autoviz import data_cleaning_suggestions
#from dataprep.datasets import load_dataset
#from dataprep.eda import create_report
import klib
import dabl
from datatile.summary.df import DataFrameSummary

dfs = DataFrameSummary(df)
dfs.summary()

if __name__ == '__main__':
    
    ######## dtale ###########
    dtale.show(df, subprocess=False)
    #dtale_app.JUPYTER_SERVER_PROXY = True
    
    ######## pandas-profiling #########
    profile = ProfileReport(df, explorative=True)
    profile.to_file("181.html")                              #Saving results to a HTML file
                              
    ######## Sweetviz ##########
    sweet_report = sv.analyze(df)
    #Saving results to HTML file
    sweet_report.show_html('sweet_181_report.html')
    
    ######## dataprep #########
    #create_report(df).show_browser()
    
    ######## Klib ###########
    klib.missingval_plot(df)
    df= klib.data_cleaning(df)
    klib.corr_plot(df, annot=False)
    klib.corr_plot(df, split='pos', annot=False)
    klib.corr_plot(df, split='neg', annot=False)
    klib.corr_plot(df, target='DELTAKERSTATUSKODE')
    klib.corr_mat(df)
    klib.dist_plot(df['DELTAKERTYPEKODE'])
    klib.cat_plot(df, figsize=(50,15))
    plot = klib.corr_plot(df, annot=False, figsize=(12,10))
    plot.figure.savefig('figure.pdf')
    
    ########## dabl ###########
    dabl.plot(df, target_col="Survived")
    
    ######### datatile
    dfs = DataFrameSummary(df)
    dfs.summary()

2022-10-31 01:02:43,724 - INFO     - D-Tale started at: http://m0n.local:40000

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/qz/f1gh3gjn4957xw2fb_fkzhq00000gn/T/ipykernel_8542/621270436.py", line 19, in <cell line: 16>
    dtale.show(df, subprocess=False)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/dtale/app.py", line 817, in show
    _start()
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/dtale/app.py", line 776, in _start
    app = build_app(
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/dtale/app.py", line 319, in build_app
    app.jinja_env.trim_blocks = True
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/flask/helpers.py", line 957, in __get__
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/flask/app.py", line 689, in jinja_env
    self.url_map.host_matching = host_matching
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/flask/app.py", line 781, in create_jinja_environment
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/flask/templating.py", line 45, in __init__
    BaseEnvironment.__init__(self, **options)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/jinja2/environment.py", line 359, in __init__
    self.policies = DEFAULT_POLICIES.copy()
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/jinja2/environment.py", line 108, in load_extensions
    environment: "Environment",
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/jinja2/utils.py", line 131, in import_string
    " old name will be removed in Jinja 3.1.",
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/jinja2/ext.py", line 18, in <module>
    from .utils import pass_context
ImportError: cannot import name 'pass_context' from 'jinja2.utils' (/Users/mo/opt/anaconda3/lib/python3.9/site-packages/jinja2/utils.py)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 1993, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
  File "/Users/mo/opt/anaconda3/lib/python3.9/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0